<div class="container-fluid p-0">
    <!-- Assuming you have an Angular component named 'app-header' -->
    <app-header></app-header>

    <div class="container">
      <section class="shopping-cart spad mb-7 mt-8">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="shopping__cart__table">
                <table>
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Total</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products">
                      <td class="product__cart__item">
                        <div class="product__cart__item__pic">
                            <img [src]="product.cartProductDTO.product.productImages[0].image" alt="" width="100px">
                        </div>
                        <div class="product__cart__item__text">
                          <h6>{{product.cartProductDTO.product.name}}</h6>
                          <h5>${{product.cartProductDTO.product.price}}</h5>
                        </div>
                      </td>
                      <td class="cart__price">$ {{product.cartProduct.product.price * product.cartProduct.quantity}}</td>
                      <td class="cart__close" (click)="delete(product.id)"><i class="pi pi-times fw-bold"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="cart__total">
                <h6>Order Summary</h6>
                <ul>
                  <li>Items Total <span>{{countProduct}}</span></li>
                  <li>Subtotal <span>$ {{total}}</span></li>
                  <li>Total <span>$ {{total}}</span></li> 
                </ul>
                <!-- Assuming you have a button component named 'p-button' -->
                <p-button label="Place Order" [rounded]="true" [style]="{
                  'color': 'white',
                  'background-color':'black',
                  'border':'1px solid black',
                  'padding':'8px 119px'
                }"></p-button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Assuming you have an Angular component named 'app-footer-main' -->
    <app-footer-main></app-footer-main>
  </div>